*{
    margin: 0;
}
body {
    background-color: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.menu {
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li {
    padding-right: 100px;
}
section {
    display: flex;
    margin: 30px;
    padding: 5px;
}
.droite {
    width: 50%;
}
.gauche {
    display: flex;
    align-items: center;
}
#Routeur {
    width: 100%;
}
.Titre {
    font-size: 5rem;
}
.STitre {
    font-size: 2rem;
    color: rgb(37, 37, 241);
}
p {
    font-size: 1rem;
}
.left {
    text-align: center;
}
.buton {
    display: flex;
    flex-direction: column;
}
button{
    background-color: rgb(61, 104, 245);
    color: rgb(255, 255, 255);
    border-radius: 9px;
    height: 40px;
    width: 150px;
}
.right {
    width: 67%;
}
.im {
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    width: 67%;
}
.im img {
    width: 80px;
}
.foot {
    display: flex;
    justify-content: space-between;
}
